<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0ed89e0fd0.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <title> <%= pageTitle %></title>
</head>
<body>
    <header>
        <div class="nav-logo">
            <a href="/">AKSHAT</a>
            <br>
            <a href="/">SETHI</a>
            <i class="fas fa-terminal"></i>
        </div>
        <div class="menu-toggle">
            <i class="fas fa-2x fa-bars"></i>
        </div>
        <nav>   
            <ul>
                <li><a class="nav-link" href="#">Projects</a></li>
                <li><a class="nav-link" href="#">Contact me!</a></li>
            </ul>
        </nav>
        
    </header>
</body>
</html>