<%- include('partials/header'); %>
<form style="text-align:center;"class="" action="/logmein" method="post">
  <input style="margin-top:5rem;" autocomplete="off" type="text" name="cred" placeholder="admin id">
  <br>
  <input style="margin-top:5rem;" type="Password" name="pwd" placeholder="password">
  <br>
  <button style="margin-top:1rem;" type="submit" name="button">Login</button>

</form>

<%- include('partials/footer'); %>
