*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa',sans-serif;
    text-decoration: none;
    list-style: none;
    /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

.name{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: whitesmoke;
    margin: 1rem;
}
header{
    color: whitesmoke;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: rgb(23, 23, 36);
}
nav{
    display: flex;
    flex-direction: row-reverse;
    padding :2rem 1.3rem 2rem 0rem;;
    
    position: relative;
    justify-content: center;
    align-items: center;
}
.menu-toggle{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
    position: relative;
    height: 3rem;
    width: auto;
    border: none;
    border-radius: 20%;
    color: cornsilk;
    background-color: rgb(56, 56, 56);
}
#menu img{
    margin: auto 0;
    width: inherit;
    height: inherit;
    padding: 0.5rem;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(78deg) brightness(103%) contrast(101%);
}

.menu-toggle:active{
    background-color: rgb(32, 32, 32);
}
.nav-links{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    height: 86.5vh;
    width: 100%;
    background-color: rgb(24, 31, 25);
    position: absolute;
    top: 110px;
    
    justify-content: space-evenly;
    align-items: center;
}

.nav-link a{
    color: whitesmoke;
    width: 100%;
    padding: 0.5rem 1rem;
}
.nav-link a:focus,a:hover{
    background-color: whitesmoke;
    color: black;
    width: 100%;
}
/* footer{
    position: relative;;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: rosybrown;
} */

